*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    /* margin: 0rem 4rem; */
    padding: 2rem;
    border: 2px solid black;
    background-color: rgb(8, 9, 9);
    color: aliceblue;
    font-size: large;
    font-weight: 800;
    width: 100vw;
    height: 3rem;
}
.navbar ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}
.navbar ul li{
    font-size: large;
    font-weight: 800;
    color: aliceblue;
    list-style: none;
    padding: 2px 8rem;
    margin: 1px 3.5rem;
    /* text-decoration: none; */

}
.navbar ul li:hover{
    color: beige;
    text-decoration: underline;
}
.navbar ul li::after{
    text-decoration: underline;
    color: aliceblue;
    
}